/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/04/2015, 05:49:28 PM
    Author     : aquispec
*/
TextField, PasswordField{
    -fx-background-color: #DDE1E2;
    -fx-background-radius: none;
    -fx-font-size: 20px;
    -fx-text-fill: #666666;
}
Button{
    -fx-font-family: "Calibri";
    -fx-text-fill: #FFFFFF;
    -fx-text-alignment: center;
    -fx-background-color: #6a787b;
    -fx-background-radius: 0px;
    -fx-font-size: 17px;
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-pref-width: 140px;
    -fx-pref-height: 50px;
}


ScrollPane{
    -fx-background-insets: 0;
    -fx-padding: 0;
}
ScrollPane:focused {
    -fx-background-insets: 0;
    -fx-padding: 0;
}
ScrollPane .corner{
    -fx-background-insets: 0;
    -fx-padding: 0;
}

/** CSS **/
ScrollPane{
    /*-fx-border-color:derive(gray,80%);*/
}

/* The main scrollbar CSS class of ListView */
ScrollPane .scroll-bar:horizontal ,
ScrollPane  .scroll-bar:vertical{
    -fx-background-color:transparent;
    -fx-text-fill: transparent;

}

/* The increment and decrement button CSS class of scrollbar */
ScrollPane .increment-button ,ScrollPane .decrement-button {
    -fx-text-fill: transparent;
    -fx-background-color:transparent;
    -fx-pref-width: 25px;
    -fx-pref-height: 15px;
}

/* The main scrollbar **track** CSS class  */
ScrollPane .scroll-bar:horizontal .track ,
ScrollPane .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color:derive(gray,80%);
    -fx-background-radius: 0em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
ScrollPane .scroll-bar:horizontal .thumb,
ScrollPane .scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90%);
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0em;

}

/* ------------------------------------------------------------------------------------- */
/** EVENT CSS **/
/* ------------------------------------------------------------------------------------- */

/* The main scrollbar **track** CSS class on event of "hover" and "pressed" */

ScrollPane .scroll-bar:horizontal:hover .track ,
ScrollPane .scroll-bar:horizontal:pressed .track ,
ScrollPane .scroll-bar:vertical:hover .track,
ScrollPane .scroll-bar:vertical:pressed .track{
    -fx-background-color: derive(#434343,20%);
    -fx-opacity: 0.2;
    /*-fx-background-radius: 0em;*/
}

/* The main scrollbar **thumb** CSS class on event of "hover" and "pressed" */
ScrollPane .scroll-bar .thumb:hover,
ScrollPane .scroll-bar .thumb:pressed{
    -fx-background-color: derive(black,50%);
}

ScrollPane .increment-button:hover ,ScrollPane .decrement-button:hover {
    -fx-background-color:derive(gray,100%);
    -fx-border-color:derive(gray,80%);	
}

.background_white{
    -fx-background-color: #FFFFFF;
}
.popups_in_titles{
    -fx-font-family: "Centabel Book";
    -fx-text-fill: #FFFFFF;
    -fx-alignment: center;
    -fx-font-size: 50px;
}
.popups_in_text{
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Calibri";
    -fx-font-size: 30px;
}
.popups_in_background{
    -fx-background-color: #293E43;
}
.popups_in_text_error{
    -fx-text-fill: #f56c6c;
    -fx-font-size: 20px;

}
.top_bloker{
    -fx-background-color: #3A4D53;
}
.title_module{
    -fx-pref-height: 80px;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 18px;
    -fx-font-weight: bold; 
    -fx-padding: 0  20 0 75;
    -fx-background-color: #16A4A5;
    -fx-background-position: 20 center;
    -fx-background-size: auto 70%;
    -fx-background-repeat: no-repeat;
}
.title_module_puesta0{
    -fx-background-image: url("../image/imgPuestaCeroBlanco.png"); 
}
.title_module_seleccion{
    -fx-background-image: url("../image/imgSeleccionBlanco.png"); 
}
.title_module_reportes{
    -fx-background-image: url("../image/imgReportesBlanco.png"); 
}
.title_eleccion{
    -fx-font-family: "Calibri";
    -fx-text-fill: #B4D6D7;
    -fx-font-size: 20px;
    -fx-font-weight: bold; 
}
.title_eleccion_main{
    -fx-font-family: "Calibri";
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 20px;
    -fx-font-weight: bold; 
}
.confirm_puesta_left_head{
    -fx-font-family: "Calibri";
    -fx-padding: 5px 50px;
    -fx-font-size: 20px;
    -fx-text-fill: #FFFFFF;
    -fx-pref-width: 450px;
    -fx-background-color: #B3B3B3;
}
.confirm_puesta_right_head{
    -fx-font-family: "Calibri";
    -fx-font-size: 20px;
    -fx-alignment: center;
    -fx-text-fill: #FFFFFF;
    -fx-pref-width: 200px;
    -fx-padding: 5px 0px;
    -fx-background-color: #999999;
}
.confirm_puesta_left{
    -fx-font-family: "Calibri";
    -fx-padding: 5px 50px;
    -fx-border-width: 0 0 1 1;
    -fx-border-color: #B3B3B3;
    -fx-font-size: 20px;
    -fx-text-fill: #666666;
    -fx-pref-width: 450px;
}
.confirm_puesta_right{
    -fx-font-family: "Calibri";
    -fx-font-size: 20px;
    -fx-padding: 5px 0px;
    -fx-alignment: center;
    -fx-text-fill: #666666;
    -fx-pref-width: 200px;
    -fx-border-width: 0 1 1 2;
    -fx-border-color: #999999;
}
.apPrincipal{
    -fx-background-color: #057777;
}
.apVerde{
    -fx-background-color: #057777;
}
.apBlanco{
    -fx-background-color: #FFFFFF;
}
.apImagen1{    
    -fx-background-image: url("../image/imgSombraIcon.png"); 
    -fx-background-repeat: no-repeat; 
    -fx-background-size: 445;
    -fx-background-position: 12 12;  
}
.apIcono1{
    -fx-background-image: url("../image/fondoIconos.png"), url("../image/icono1.png"); 
    -fx-background-repeat: no-repeat;
    -fx-background-size: 110,60;
    -fx-background-position: center, center;  
}
.apIcono2{
    -fx-background-image: url("../image/fondoIconos.png"), url("../image/icono2.png"); 
    -fx-background-repeat: no-repeat;
    -fx-background-size: 110,60;
    -fx-background-position: center, center;  
}
.apIcono3{
    -fx-background-image: url("../image/fondoIconos.png"), url("../image/icono3.png"); 
    -fx-background-repeat: no-repeat;
    -fx-background-size: 110,60;
    -fx-background-position: center, center;  
}
.apIcono4{
    -fx-background-image: url("../image/fondoIconos.png"), url("../image/icono4.png"); 
    -fx-background-repeat: no-repeat;
    -fx-background-size: 110,60;
    -fx-background-position: center, center;  
}
.apIcono5{
    -fx-background-image: url("../image/fondoIconos.png"), url("../image/icono5.png"); 
    -fx-background-repeat: no-repeat;
    -fx-background-size: 110,60;
    -fx-background-position: center, center;  
}
.apImgMano{
    -fx-background-image: url("../image/mano.png"); 
    -fx-background-repeat: no-repeat;
    -fx-background-size: 605;
    -fx-background-position:383 -370; 
    //-fx-bac
}
.apSombra{
    -fx-background-image: url("../image/sombra.png"); 
    -fx-background-repeat: no-repeat;
    -fx-background-size: 2500 30;
    -fx-background-position: 0 42;
}
.apFooter{
    -fx-background-color: #057777;    
}

.btnAdministrador{
    -fx-cursor: hand;
    -fx-background-color: #0E8E8D;    
    -fx-pref-width: 220px;
    -fx-background-image: url("../image/icoBtnAdministrador.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position:10;
    -fx-background-size: 30;
    -fx-font-family: "Calibri";
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 20px;
    -fx-font-weight: bold;    
}
.btnAdministradorHead{
    -fx-cursor: hand;
    -fx-background-color: #0E8E8D; 
    -fx-pref-width: 220px;
    -fx-background-image: url("../image/icoBtnAdministrador.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position:center 5;
    -fx-background-size: 30;
    -fx-font-family: "Calibri";
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 18px;
    -fx-font-weight: bold;    
}
.btnCerrarSesion{
    -fx-cursor: hand;
    -fx-background-color: #57AFB0;    
    -fx-pref-width: 220px;
    -fx-pref-height: 40px;
    -fx-font-family: "Calibri";
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}
.btnRegresar{
    -fx-cursor: hand;
    -fx-background-color: #0E8E8D; 
    -fx-pref-width: 60px;
    -fx-background-image: url("../image/imgRegresar.png");   
    -fx-background-repeat: no-repeat;
    -fx-background-position:center center;
    -fx-background-size: 25;
}
.btnRegresar:hover{
    -fx-background-color: #16A4A5; 
}
.apCerrarSEsion{    
    -fx-background-image: url("../image/imgTrianguloBtn.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position:120 54;
    -fx-background-size: 31;
}
.btnMain{
    -fx-cursor: hand;
    -fx-pref-width: 120px;
    -fx-pref-height: 110px;
    -fx-background-repeat: no-repeat;
    -fx-background-size:55 65;    
    -fx-background-position: center 5;
    -fx-border-style:none;
    -fx-background-color: none;
    -fx-text-fill: #149A9B;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-font-family: "Calibri";
}
.btnMain:hover{
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;

}
.btnPuestaCero{
    -fx-background-image: url("../image/imgPuestaCeroVerde.png");
}
.btnPuestaCero:hover{    
    -fx-background-image: url("../image/ImgPuestaCero.png");
    -fx-text-fill: #FE5E3A;
}
.btnSeleccion{
    -fx-background-image: url("../image/imgSeleccionVerde.png");
}
.btnSeleccion:hover{
    -fx-background-image: url("../image/imgSeleccion.png");
    -fx-text-fill: #FE5E3A;
}
.btnReportes{
    -fx-background-image: url("../image/imgReporteVerde.png");
}
.btnReportes:hover{
    -fx-background-image: url("../image/imgReporte.png");
    -fx-text-fill: #FE5E3A;
}

.apPreLoginn{
    -fx-background-color: #FFFFFF;
    -fx-background-repeat: no-repeat;
    -fx-background-size: stretch, 330;
    -fx-background-position: 0 0 ,15 40;
}
.apLogeo{    
    -fx-background-image: url("../image/imgSombraMovil.png"),url("../image/imgLoginMovil.png"),url("../image/imgFranjasDerecha.png"), url("../image/imgFranjasIzquierdas.png"), url("../image/mediaNaranja.png"), url("../image/imgTrianguloLogin.png"),url("../image/LetrasPreLogin.png"),url("../image/imgContrasenia.png"),url("../image/imgUsuario.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 520, 320 , 520, 822, 40,40, 280,40,40;
    -fx-background-position: 220 650,330 20, 551 10,-280 81,650 400,650 242,0 240, 565 170, 565 92;
}
.apAtrasMovilDerecha{
    -fx-background-image: url("../image/imgLineaVerde.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 1477;
    -fx-background-position: -200 192;
}
.apAtrasMovilIzquierda{
    -fx-background-image: url("../image/imgLineaRoja.png"),url("../image/imgLineaAmarilla.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 742;
    -fx-background-position: 0 102.5, 0 10;
}
.apRojo{
    -fx-background-color: #D14358;
}
.btnIngresarLogin{
    -fx-background-color: #FFFFFF;
    -fx-pref-width: 147px;
    -fx-pref-height: 73;
    -fx-text-fill: #08887B;
    -fx-font-family: "Calibri";
    -fx-font-size: 26px;
    -fx-cursor: hand;
    -fx-background-radius: 0;
}
.btnIngresarExit{
    -fx-background-color: #D14358;
    -fx-pref-width: 100px;
    -fx-text-fill: #FFFFFF;
}
.apAmarillo{
    -fx-background-color:#F4C35C;
    -fx-background-image: url("../image/Eva.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 120;
    -fx-background-position: 120 80;
}
.apProgress{
    -fx-background-image: url("../image/imgLineaCarga.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 1000 94 ;
    -fx-background-position: 0 0;

}
.apCountCarga{
    -fx-background-image: url("../image/imgCountCarga.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 130;
}
.lblCarga{
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Calibri";
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}
.lblFooterCarga{
    -fx-font-size: 24px;
    -fx-alignment: center;
}
.lblTitulo{
    -fx-text-fill: #05767A;
    -fx-font-family: "Centabel Book";
    -fx-font-size: 45px;
}
.lblTituloInicial{
    -fx-font-size: 70px;
}
.txtLogin{
    -fx-background-color: #61d3c9; 
    -fx-background-radius: none;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 22px;
    -fx-prompt-text-fill: #FFFFFF;
}
.apPuestaCeroCentral{
    -fx-background-color: #FFFFFF; 
    -fx-background-image: url("../image/imgPuestaCeroIzq.png"), url("../image/imgPuestaCeroDer.png"),url("../image/verdeOscuro.png");   
    -fx-background-repeat: no-repeat;
    -fx-background-size: 120,120,915 94;
    -fx-background-position: 0 370,1030 370,116 370;
}
.apPuestaCeroIzq{
    -fx-background-color: #FFFFFF; 
    -fx-background-image: url("../image/verdeClaro.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 705;
    -fx-background-position: 0 432;
}
.apPuestaCeroDer{
    -fx-background-color: #FFFFFF; 
    -fx-background-image: url("../image/verdeClaro.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 705;
    -fx-background-position: -2 432;
}
.apFooterPuestaCero{
    -fx-background-color:#4D4D4D;
}
.apHead{
    -fx-background-color: #067677;
    -fx-background-image: url("../image/Eva.png");
    -fx-background-size: 90;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 20 center;
}
.apCerrarSesionHead{
    -fx-background-image: url("../image/imgTrianguloVolteado.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position:90 0;
    -fx-background-size: 40;
}
.paneSubTitle{
    -fx-background-color: #4D4D4D;
}
.paneSeleccionAtras{
    //-fx-background-color: #000000;
    -fx-background-image: url("../image/imgCargaSeleccion.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position:0 0;
    -fx-background-size: 1050 100;
}
.paneSeleccionDelante{
    -fx-background-color: #0B8382;
}
.paneSubCuadro{
    -fx-background-color: #666666;
}
.panePrint{
    -fx-background-image: url("../image/imgPrint.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 200;
}
.paneAsignacionPesos{
    -fx-background-color: #FFFFFF;    
    -fx-effect:dropshadow(three-pass-box,rgba(0,0,0,0.4),15,0.6,0,0)
}
.paneBlanco{
    -fx-background-color: #FFFFFF;
}
.lblSeleccionNaranja{
    -fx-text-fill: #FE6039;
    -fx-font-family: "Centabel Book";
    -fx-font-size: 26px;
}
.lblPorcent{
    -fx-text-fill: #516065;
    -fx-font-family: "Centabel Book";
    -fx-font-size: 26px;
    -fx-font-weight: bold;
}
.apResumenSel{
    -fx-background-color: #293E43;
}
.paneOpcionesConfirmacion{
    -fx-background-color: #808080;
}
.btnImpresion{
    -fx-pref-width: 80px;
    -fx-cursor: hand;
    -fx-background-color: #999999;
    -fx-background-image: url("../image/imgImpresionSilenciosa.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30;    
    -fx-background-position: center;
}
.btnPDF{
    -fx-pref-width: 80px;
    -fx-cursor: hand;
    -fx-background-color: #999999;
    -fx-background-image: url("../image/imgExportaPdf.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30;    
    -fx-background-position: center;
}
.paneSupConf{
    -fx-background-color: #EAECEB;
}
.lblTextoConf{
    -fx-text-fill: #077778;
    -fx-font-family: "Calibri";
    -fx-font-size: 28px;
}
.paneHeadGrid{
    -fx-background-color: #B3B3B3;
}
.lblHeadGridOscuro{
    -fx-background-color: #999999;
}
.lblHeadGridClaro{
    //-fx-background-color: #000000;
}
.lblTitleGrid{
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Calibri";
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}
.gridConfirmacion{
    -fx-background-color: #999999;
}
.lblGrid{
    -fx-background-color: #606261;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Calibri";
    -fx-font-size: 20px;

}
.lblGridDep{
    -fx-pref-width: 171px;
    -fx-pref-height: 39px;
}
.lblGridPro{
    -fx-pref-width: 169px;
    -fx-pref-height: 39px;
}
.lblGridDis{
    -fx-pref-width: 184px;
    -fx-pref-height: 39px;
}
.lblGridOdp{
    -fx-pref-width: 209px;
    -fx-pref-height: 39px;
}
.lblGridCan{
    -fx-pref-width: 128px;
    -fx-pref-height: 39px;
}
.btnSalir{
    -fx-background-color: none;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Calibri";
    -fx-font-size: 30px;
}
.btnSalir_X{
    -fx-background-color: none;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Calibri";
    -fx-font-size: 30px;
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
}
.apFinSeleccionCentral{
    -fx-background-color: #293E43;
    -fx-background-image: url("../image/imgEstrella.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 400;    
    -fx-background-position: 100 center;
}
.apOpacidad{
    -fx-background-color: #293E43;;
}
.hboxFondo{
    -fx-background-color: #293E43;
}
.apFinSelCentral{
    -fx-background-color: #3A4D53;
}
.lblFelicitaciones{
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Centabel Book";
    -fx-font-size: 55px;
}
.lblFinMensaje{
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Calibri";
    -fx-font-size: 30px;
}
.lblFinFechaHora{
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Calibri";
    -fx-font-size: 20px;
}
.apFooter{
    -fx-background-color: #067677;        
    -fx-background-repeat: no-repeat;
    -fx-background-position: 20 center;
}
.btn_icon{
    -fx-cursor: hand;       
    -fx-background-repeat: no-repeat;    
    -fx-background-color: #1DB1B1;
    -fx-pref-width: 65;
    -fx-pref-height: 51;
    -fx-background-size: auto 78%;
    -fx-background-position: center center;
}
.btn_icon_print{
    -fx-background-image: url("../image/imgImpresionSilenciosa.png");
}
.btn_icon_pdf{
    -fx-background-image: url("../image/imgExportaPdf.png");
}
/************** RIGHT CLICK **************/
.context-menu     { 
    -fx-background-color: transparent; 
}
.menu-item        { 
    -fx-background-color: transparent; 
}
.menu-item .label { 
    -fx-text-fill: transparent; 
}
.menu-item:show-mnemonics .mnemonic-underline {
    -fx-stroke: -transparent; 
}
/*****************************************/